/* Add additional styles below
-------------------------------------------------- */

/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  padding-top: 90px;
  background-color: #fff;
  background-image: url("images/bg_texture.png");
  background-repeat: repeat-x;
  background-position: 0 40px;
}


/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
.navbar-fixed-top .brand {
  height: 60px;
  color: #2b2b2b;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}

.navbar .brand {
	padding: 4px 20px 4px;	/* Smaller and centering Padding */ 
}


